# db
*.sqlite3

# compile python code 
__pycache__/
*.pyc

*.code-workspace

.venv/
.pytest_cache/
ipython/
htmlcov/
sent_emails/
.vscode/settings.json
cleanup.sh
coverage.lcov
.coverage
out.html
poetry.lock
*.log
