{% extends 'base/base_page.html' %}

{% comment %} devices/create_device.html {% endcomment %}

{% block title %}Create Device{% endblock title %}

{% block body %}

<h1>Create New Device</h1>

<div class="form_container">
  <form method="post">
    {% csrf_token %}
    
    <table>
      {{ form.as_table }}
    </table>
    
    <br>
    <div>
      <button type="submit">Create Device</button>
    </div>

    <br>
    <div>
      <button type="reset">Clear</button>
    </div>

    <br>
    <div>
      <button type="button" onclick="window.location.href = '{% url 'devices:device_list' %}'">Cancel</button>
    </div>

  </form>
</div>

{% endblock body %}