{% extends 'base/base_page.html' %}

{% comment %}devices/device_details.html{% endcomment %}

{% block title %}Device Details{% endblock title %}

{% block body %}
<h1>Device {{ device.name }} </h1>

<section>
  
  <hr>
  {% include 'devices/device_details.html' %}
  <hr>

  <div>
    <a href="{% url 'devices:device_data_list' device.uid %}">Device Data</a>
  </div>
  <br>

  <div>
    <a href="{% url 'devices:device_edit' device.uid %}">Edit Device</a>
  </div>
  <br>
  
  </div>
    <a href="{% url 'devices:device_delete' device.uid %}" class="btn btn-danger">Delete Device</a>
  </div>
  <br>

</section>
{% endblock body %}