{% comment %} basse/base_navbar.html {% endcomment %}

{% block navbar %}

{% block homepage %} 
<div class="navbar_link">
  <a href="{% url 'homepage' %}">Home</a> 
</div>
{% endblock homepage %}

{% if user.is_authenticated %}

  {% block profile %}
  <div class="navbar_link">
    <a href="{% url 'accounts:my_profile' %}">{{ user.username }}</a>
  </div>
  {% endblock profile %}
  
  {% block logout %}
  <div class="navbar_link">
    <a href="{% url 'accounts:logout' %}">Log Out</a>
  </div>
  {% endblock logout %}

{% else %}

  {% block login %}  
  <div class="navbar_link">
    <a href="{% url 'accounts:login' %}">Log In</a>
  </div>
  {% endblock login %}

  {% block signup %}
  <div class="navbar_link">
    <a href="{% url 'accounts:signup' %}">Sign Up</a>
  </div>
  {% endblock signup %}

{% endif %}

{% block settings %} 
<div class="navbar_link">
  {{ settings }} 
</div>
{% endblock settings %}

{% endblock navbar %}