{% extends 'base/base_page.html' %}

{% comment %} devices/groups/device_group_details.html {% endcomment %}

{% block title %}Device Group Details{% endblock title %}

{% block body %}

<h1>Device Group: <span>{{ device_group.name }}</span></h1>


<div class="container">
  <div class="row">
    <div class="column">
      <strong>Description:</strong> 
    </div>
    <div class="column">
      {{ device_group.description }}
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="column">
      <strong>Owner:</strong> 
    </div>
    <div class="column">
      {{ device_group.owner }}
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="column">
      <strong>Creation Date:</strong>
    </div>
    <div class="column">
      {{ device_group.creation_date }}
    </div>
  </div>
  <br>

  <div class="row">
    <div class="column">
      <strong>Devices:</strong>
    </div>
    <div class="column">
      {% if device_count %}
      <ul>
        {% for device in device_list %}
        <li>
          <a href="{% url 'devices:device_details' device.uid %}">{{ device.name }}</a>
        </li>
        {% endfor %}
        {% else %}
          <p>No devices yet in this group.</p>
          <a href="{% url 'devices:device_create' %}">Add a device</a>
        {% endif %}
      </ul>
    </div>
  </div>
  <br>
    
</div>

<hr>

<div>
  <a href="{% url 'devices:group_edit' device_group.name %}">Edit Device Group</a>
</div>
<br>

<div>
  <a href="{% url 'devices:group_delete' device_group.name %}">Delete Device Group</a>
</div>
<br>

{% endblock body %}
