{% extends 'base/base_page.html' %}

{% comment %} devices/group/edit.html {% endcomment %}

{% block title %}Edit Device Group{% endblock title %}

{% block body %}

<h1>Edit device group: {{ device_group.name }} </h1>

<div class="form_container">

  <form method="post">
    
    {% csrf_token %}
    
    <table>
      {{ form.as_table }}
    </table>

    <br>
    <div>
      <button type="submit" value="Edit device group">Ok</button>
    </div>
    
    <br>
    <div>
      <button type="button" onclick="window.location.href='{% url 'devices:group_details' device_group.name %}'">Cancel</button>
    </div>
  
  </form>
</div>

{% endblock body %}