{% extends 'base/base_page.html' %}

{% block title %}Search{% endblock title %}

{% block body %}

{% if search_results is not None %}
<section>
  
  {% if search_results %}
  <div>
    <ul>
    {% for result in search_results  %}
    <li>
      {% if form.search_for.value == 'device' %}
        <a href="{% url 'devices:device_details' result.uid %}">{{ result.name }}</a>
      {% else %}
        <a href="{% url 'devices:group_details' result.name %}">{{ result.name }}</a>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>

  {% else %}
  <div>
    <p>No results found</p>
  </div>
  {% endif %}
  
</section>
{% endif %}

<section>
  {% include 'base/base_pagination.html' %}
</section>

{% endblock body %}
