{% extends 'base/base_page.html' %}

{% block title %}Delete Account{% endblock title %}

{% block body %}
<section>
  <h1>Delete Account</h1>
  <p>
    <strong>Warning</strong>
  </p>
  <p>
    Deleting your account will remove all of your data from the site, including your profile, groups, and devices. This change cannot be undone!
  </p>
  <p>
    Are you sure you want to delete your account?
  </p>
</section>

<section>
  <div>
    <h3>
      Enter your password to confirm:
    </h3>

    <div class="form_container">

      <form action="{% url 'accounts:account_delete' user.username %}" method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <input type="button" value="Delete Account">
        
        <a href="{% url 'accounts:profile' user.username %}">Cancel</a>

      </form>        
    </div>
  </div>
</section>
{% endblock body %}