{% extends 'base/base_page.html' %}

{% comment %} accounts/password_reset_done.html {% endcomment %}

{% block title %}Password Reset Done{% endblock title %}

{% block body %}

<section>

  <h1>Password Reset Done</h1>
  
  <p>
    We have sent you an email with instructions on how to reset your password. 
    If an account exists with them email you entered, you should receive it shortly.
  </p>
  <p>
    If you haven't received an email, check that you entered the email you used to sign up with and check your spam folder.
  </p>
  
</section>

{% endblock body %}
