{% extends 'base/base_page.html' %}

{% comment %} accounts/password_reset.html {% endcomment %}

{% block title %}Reset Password{% endblock title %}

{% block body %}

<h1>Password Reset</h1>

<form action="{% url 'accounts:password_reset' %}" method="post">

    {% csrf_token %}

    <p>Forget your password? Enter your email and we'll send you instructions for setting a new password.</p>

    <table>
        {{ form.as_table }}
    </table>

    <br>

    <button type="submit">Reset Password</button>

</form>

{% endblock body %}