{% extends 'base/base_page.html' %}

{% comment %} accounts/password_reset.html {% endcomment %}

{% block title %}Password Reset{% endblock title %}

{% block body %}

<h1>Password Reset</h1>

<div class="form_container">

  <form action="{% url 'accounts:password_reset' %}" method="post">

    {% csrf_token %}
    
    <p>
      Forgot your password? Enter your email and we'll send you instructions for setting a new password.
    </p>
    
    <table>
      {{ form.as_table }}
    </table>
      
    <br>
      
    <button type="submit">Reset Password</button>
      
  </form>
</div>

{% endblock body %}